<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head><title>Nuevo Producto</title></head>
<body>
    <h1>Registrar Nuevo Producto</h1>
    <form th:action="@{/tienda/guardar}" th:object="${nuevoProducto}" method="post">
        <label>ID:</label> <input type="number" th:field="*{id}" /><br/>
        <label>Nombre:</label> <input type="text" th:field="*{nombre}" /><br/>
        <label>Categoría:</label> <input type="text" th:field="*{categoria}" /><br/>
        <label>Precio:</label> <input type="number" step="0.01" th:field="*{precio}" /><br/>
        <button type="submit">Guardar Producto</button>
    </form>
</body>
</html>